.dropdown .selected-value input {
  background: #fdfdfd url(../../../assets/img/search.png) no-repeat 10px center;
  background-repeat: no-repeat;
  line-height: 1.5;
  font-size: 1rem;
  background-color: #fff;
  /* border: 1px solid #ccc; */
  border-radius: 0.3rem;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 10px 2px 10px 40px;
  transition: all 200ms ease;
  width: 24rem;
}
.titleDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
}
.underLineDiv {
  background: #373b79;
  height: 10px;
  width: 60px;
  border-radius: 10px;
  margin-top: 10px;
}
.form-design {
  display: flex;
}
.location-search-input {
  background: #fdfdfd url(../../../assets/img/location.png) no-repeat 10px
    center;
  line-height: 1.5;
  font-size: 1rem;
  background-color: #fdfdfd;
  /* border: 1px solid #ccc; */
  border-radius: 0.3rem;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 10px 52px 10px 40px;
  transition: all 200ms ease;
  width: 24rem;
}
.underline {
  height: 8px !important;
  border-radius: 40px;
  width: 67px;
  color: #5a5d8f;
}
.banner {
  height: 260px;
  width: 80%;
  margin-left: 30rem;
  margin-top: -148px;
}
